<p style="color: green"><%= notice %></p>

<%= render @sm %>

<div>
  <%= link_to "Edit this message", edit_sm_path(@sm) %> |
  <%= link_to "Back to Messages", msg_path(@msg) %>

  <%= button_to "Destroy this sm", @sm, method: :delete %>
</div>
